<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">

    <div>
      <!-- O atributo 'for' associa este label ao input com id 'nome' -->
      <!-- Isso permite que, ao clicar no texto 'Nome:', o campo de entrada seja focado automaticamente -->
      <label for="nome">Nome:</label>
      <input id="nome" formControlName="nome" />
      
      <!-- Exibe mensagem de erro se o campo for inválido e já tiver sido tocado -->
      <div *ngIf="registroForm.get('nome')?.invalid && registroForm.get('nome')?.touched">
        Nome é obrigatório.
      </div>
    </div>
  
    
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" />
      
      <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched">
        Por favor, insira um email válido.
      </div>
    </div>
  
    <div>
      <label for="senha">Senha:</label>
      <input id="senha" type="password" formControlName="senha" />
      
      <div *ngIf="registroForm.get('senha')?.invalid && registroForm.get('senha')?.touched">
        A senha deve ter pelo menos 6 caracteres.
      </div>
    </div>
  
    <button type="submit" [disabled]="registroForm.invalid">Registrar</button>
  
  </form>
  